<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khalej.nursery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.khalej.nursery.application"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.khalej.nursery.Activity.General_category"></activity>
        <activity android:name="com.khalej.nursery.Activity.Roaia" />
        <activity android:name="com.khalej.nursery.Activity.Sahb" />
        <activity android:name="com.khalej.nursery.Activity.Orders" />
        <activity android:name="com.khalej.nursery.Activity.MainAdmin" />
        <activity android:name="com.khalej.nursery.Activity.New_charge" />
        <activity android:name="com.khalej.nursery.Activity.Message" />
        <activity android:name="com.khalej.nursery.Activity.Whous" />
        <activity android:name="com.khalej.nursery.Activity.Registration" />
        <activity android:name="com.khalej.nursery.Activity.Login" />
        <activity android:name="com.khalej.nursery.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.khalej.nursery.Activity.MainActivity" />
        <activity android:name="com.khalej.nursery.Activity.Order_detail" />
        <activity android:name="com.khalej.nursery.Activity.Show" />
        <activity
            android:name="com.khalej.nursery.Activity.Delete_annonce"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Add_annonce"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Delete_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Add_category_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Second_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Add_general_category_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.khalej.nursery.Activity.Delete_general_category"
            android:screenOrientation="portrait" />
    </application>

</manifest>